@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@300&family=Playfair+Display&display=swap');

html {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwaPGQ3q5d0N7w.woff2) format('woff2');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/oswald/v49/TK3iWkUHHAIjg752FD8Gl-1PK62t.woff2) format('woff2');
}

@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFkD-vYSZviVYUb_rj3ij__anPXDTnohkk7yRZrPJ-M.woff2) format('woff2');
}

body {
    background-color: #F4F4F4;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1000px;
    background-color: #F4F4F4;
    margin-left: auto;
    margin-right: auto;
}

.column {
    width: 50%;
    margin: 15px;
    background-color: #fff;
}

img {
    width: 100%;
    height: auto;
}

h5 {
    font-family: Lato;
    font-weight: 300;
    color: #DA5332;
    text-align: center;  
}

h3 {
    font-family: Oswald;
    font-weight: 300;
    text-align: center;
}

p {
    font-family: Playfair Display;
    font-weight: 400;
    margin-left: 5%;
    margin-right: 5%;
}

.continuebtn {
    background-color: #fff;
    color: #DA5332;
    border: solid 1px #DA5332;
    font-family: Lato;
    font-weight: 300;
    margin-left: 37%;
    margin-bottom: 5%;
    
}

.guy-working {
    position: relative;
    border: solid 2px #fff;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-left: 30%;
    transform: translateY(-50%);
    
}

.clarence {
    transform: translateY(-350%);
    margin-right: 6%;
}

.clarence-bio {
    transform: translateY(-125%);
}